body {
    min-width: 250px;
    background-color: rgb(16, 9, 39);;
    color: aliceblue;
    padding: 10px;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#key_input {
    width: 100%;
}

button {
    border-radius: 20px;
    border: none;
    background-color: rgb(49, 35, 101);
    color: aliceblue;
    width: 90px;
    padding: 5px;
}

button:hover {
    background-color: rgb(23, 6, 86); 
    cursor: pointer;
}

a {
    color: rgb(121, 191, 191);
}

.info{
    font-style: italic;
    font-size: 10px;
    color: rgb(221, 221, 255);
}

#key_entered {
    display: none;
}